@media (min-width: 428px) {
  .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .nav-list,
  .contacts-list {
    display: none;
  }
  .menu-hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  /* -----------------------HERO------------------------- */
  .first-section {
    min-height: 432px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .first-section {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
    }
  }
  .first-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    max-width: 320px;
  }
  .first-section-button {
    margin: 72px auto 0;
  }

  /*------------------------- Features----------------- */
  .conraiter-features-svg {
    display: none;
  }
  .main-container-features {
    padding: 96px 16px;
  }
  .features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .features-title {
    text-align: center;
  }
  .main-container-products {
    display: none;
  }

  /* -----------------------------Team------------------ */

  .team-section {
    padding: 96px 82px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
  }

  /* ---------------------------CUSTOMERS------------------------ */
  .customers {
    padding: 96px 0;
  }
  .customers-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }

  /* ----------------------------FOOTER------------------------------- */
  .footer {
    padding: 96px 0;
  }
  .container-footer {
    margin-bottom: 72px;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-text {
    margin: 0 auto;
  }
  .footer-social {
    margin-bottom: 72px;
  }
  .social-title {
    text-align: center;
  }
  .social-list {
    justify-content: center;
  }
  .subscribe-title {
    text-align: center;
  }
  .subscribe-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    opacity: 0.30000001192092896;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
    padding-left: 16px;
    outline: none;
    margin-bottom: 16px;
  }
  .subscribe-input::placeholder {
    color: #fff;
  }
  .subscribe-button {
    margin: 0 auto;
  }
  /* ----------------------Modal-menu----------------- */
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 40px 40px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .modal-close {
    background-color: transparent;
  }
  .menu-list {
    margin-bottom: 284px;
    display: block;
  }
  .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 40px;
    display: block;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-contacts-tel {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: #434455;
    display: block;
  }
  .menu-contacts-email {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    margin-bottom: 48px;
  }
  .menu-contacts-tel:hover,
  .menu-contacts-tel:focus {
    color: #4d5ae5;
  }
  .menu-contacts-email:hover,
  .menu-contacts-email:focus {
    color: #4d5ae5;
  }
  .menu-social-list {
    display: flex;
    gap: 56px;
  }
}
